@import "./styles/theme.css";
@import "./styles/Skeleton.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  min-height: 100vh;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}
